
button {
  font-size: 2.75vh;
  margin: auto;
  background-color: white;
  border-radius: 1.5vh;
  border: white;
  margin-bottom: 3vh;
  font-family: $font;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.85;
  transform: scale(1.1);
}