.footer {
  margin-bottom: 0.1vh;
  display: flex;
  align-content: space-between;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.footer f1 {
  margin-right: 10vw;
}

.footer f2 {
  margin-right: 10vw;
  margin-left: 10vw;
}

.footer f3 {
  margin-left: 10vw;
}