header1 {
  font-size: 4.5vh;
  color: white;
  text-shadow: 0.3rem 0.3rem 0 black;
  display: flex;
  justify-content: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  transition: all 0.2s ease-in-out;
}

header2 {
  font-size: 3.5vh;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 0vh;
  margin-bottom: 5vh;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem black;
}
