$font: "Titillium Web", sans-serif;
$border-color: #757575;
//$yankees-color: rgba(0, 0, 128, 0.9);
$yankees-color: rgba(3, 97, 3, 0.9);
$jets-color: rgba(3, 97, 3, 0.9);
$knicks-color: rgba(214, 102, 11, 0.9);

