@import "./variables";
@import "./topheaders";
@import "./boxes";
@import "./buttons";
@import "./imgstyle";
@import "./footers";

html {
  font-family: $font;
  min-height: 100%;
  background-image: url(img/subwaymap.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

html, body{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Posts {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
