html {
  font-family: "Titillium Web", sans-serif;
}
$font: "Titillium Web", sans-serif;
$background-color: #2196f3;
$border-color: #757575;
$knicks-color: orange;

header1 {
  background-image: url(/img/nycskyline4.png);
  background-color: $background-color;
  background-size: contain;
  font-size: 2rem;
  color: white;
  text-shadow: 0.3rem 0.3rem 0 black;
  display: flex;
  justify-content: center;
  border: 0.25rem solid $border-color;
}

header2 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.Posts {
  display: flex;
  flex: wrap;
  flex-direction: row;
  margin: 0.25rem;
  justify-content: space-between;
}

.box button {
  color: white;
  text-shadow: 0.075rem 0.075rem 0 black;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-basis: 33.33333%;
  border: 0.125rem solid $border-color;
  font-size: 2.5rem;
  text-align: center;
  font-family: $font;
}

.box1 button {
  background-color: navy;
}

.box2 button {
  background-color: green;
}

.box3 button {
  background-color: $knicks-color;
}

.box1 p1 {
  color: white;
  text-shadow: 0.075rem 0.075rem 0 black;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-basis: 33.33333%;
  border: 0.125rem solid $border-color;
  font-size: 1rem;
  text-align: center;
  font-family: $font;
  font-style: italic;
  background-color: navy;
}

.box2 p1 {
  color: white;
  text-shadow: 0.075rem 0.075rem 0 black;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-basis: 33.33333%;
  border: 0.125rem solid $border-color;
  font-size: 1rem;
  text-align: center;
  font-family: $font;
  font-style: italic;
  background-color: green;
}

.box3 p1 {
  color: white;
  text-shadow: 0.075rem 0.075rem 0 black;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-basis: 33.33333%;
  border: 0.125rem solid $border-color;
  font-size: 1rem;
  text-align: center;
  font-family: $font;
  font-style: italic;
  background-color: $knicks-color;
}

.footer {
  display: flex;
  flex: wrap;
  font-size: 1rem;
  justify-content: center;
  height: auto;
  align-items: flex-end;
}

.footer p1 {
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}

.footer p2 {
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.footer p3 {
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
}
