header1 {
  font-size: 4.5vh;
  color: white;
  text-shadow: 0.3rem 0.3rem 0 black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header2 {
  font-size: 3.5vh;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0vh;
  margin-bottom: 5vh;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem black;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-bottom: 5vh;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 2vh;
  background-color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.post h {
  font-size: 3.5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-shadow: 0.1rem 0.1rem black;
}

.post1 {
  border: 0.25rem solid rgba(0, 0, 128, 0.9);
}

.post2 {
  border: 0.25rem solid rgba(3, 97, 3, 0.9);
}

.post3 {
  border: 0.25rem solid rgba(214, 102, 11, 0.9);
}

.post p {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  font-size: 2.5vh;
  margin-bottom: 4vh;
  text-shadow: 0.08rem 0.08rem black;
}

button {
  font-size: 2.75vh;
  margin: auto;
  background-color: white;
  border-radius: 1.5vh;
  border: white;
  margin-bottom: 3vh;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.post img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.footer {
  margin-bottom: 0.1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
}

.footer f1 {
  margin-right: 10vw;
}

.footer f2 {
  margin-right: 10vw;
  margin-left: 10vw;
}

.footer f3 {
  margin-left: 10vw;
}

html {
  font-family: "Titillium Web", sans-serif;
  min-height: 100%;
  background-image: url(img/subwaymap.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

html, body {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */