html {
  font-family: "Titillium Web", sans-serif;
  min-height: 100%;
  background-image: url(img/subwaymap3.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

$font: "Titillium Web", sans-serif;
$background-color: rgba(33, 150, 243, 0.8);
$border-color: #757575;
$yankees-color: rgba(0, 0, 128, 0.9);
$jets-color: rgba(3, 97, 3, 0.9);
$knicks-color: rgba(214, 102, 11, 0.9);

header1 {
  //background-color: $background-color;
  font-size: 2rem;
  color: white;
  text-shadow: 0.3rem 0.3rem 0 black;
  display: flex;
  justify-content: center;
  //border: 0.25rem solid $border-color;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  //border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

header2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 0vh;
  margin-bottom: 10vh;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem black;
}

.Posts {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 5vh;
  align-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  border: 0.25rem solid $border-color;
}

.box h {
  font-size: 1.85rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-shadow: 0.1rem 0.1rem black;
}

.box1 {
  background-color: $yankees-color;
}

.box1 img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.box2 {
  background-color: $jets-color;
}

.box2 img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.box3 {
  background-color: $knicks-color;
}

.box3 img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 32.5%;
}

.box p {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-shadow: 0.08rem 0.08rem black;
}

button {
  font-size: 1.25rem;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border: white;
  margin-bottom: 2.5vh;
  font-family: $font;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.85;
  transform: scale(1.1);
}

.footer {
  margin-bottom: 2vh;
  display: flex;
  align-content: space-between;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.footer f1 {
  margin-right: 10vw;
}

.footer f2 {
  margin-right: 10vw;
  margin-left: 10vw;
}

.footer f3 {
  margin-left: 10vw;
}
